<!DOCTYPE html>
<html>
<head>
  <title>EhjobAuthentication</title>
  <%= stylesheet_link_tag    "ehjob_authentication/application", :media => "all" %>
  <%= javascript_include_tag "ehjob_authentication/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
