#session_form {
  .sign-in-button {
    width: 100%;
  }

  .form-group {
    padding: 7px 0;
    border: 0;
  }

  .disclaimer {
    font-size: 12px;
  }

  .divider {
    height: 1px;
    margin: 15px 2px;
    background-color: #888;
    text-align: center;

    span {
      padding: 0 10px;
      background-color: white;
      position: relative;
      top: -10px;
      line-height: 20px;
      vertical-align: middle;
    }
  }

  .forgot-password {
    margin-bottom: 15px;
  }

  .omniauth-button {
    position: relative;
    width: 100%;
    padding-left: 40px;
    background: no-repeat 8px 8px;
    &:before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 33px;
      bottom: 3px;
      border-right: 1px solid #CCC;
      content: ' '
    }

    &.linkedin {
      background-image: image-url('ehjob_authentication/linkedin-signin.png');
    }

    &.facebook {
      background-image: image-url('ehjob_authentication/facebook-signin.png');
    }

    &.email {
      background-image: image-url('ehjob_authentication/email-signin.png');
    }
  }
}

.signin #session_form {
  margin-top: 40px;

  .divider span {
    background: #fafafa image-url('texture-light.png') repeat 0 0;
  }
}

#mobile-suggestion {
  img {
    margin: 0 17%;
  }
  .modal-dialog {
    margin: 5px auto;
    width: 400px;

    .modal-content {
      background-color: #04a9cc;
      .modal-header {
        background-image: none;

        #mobile-modal-title {
          font-size: 22px;
          font-weight: 100;
          margin: 45px 80px 10px 80px;
          word-wrap: break-word;
          font-family: Helvetica, Arial, sans-serif;
        }
      }

      .modal-footer {
        border: none;
        text-align: center;
        z-index: 1100;
        background-color: #fff;
        margin-top: -160px;
        padding-bottom: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top: none !important;
        width: 399px;
        position: absolute;
        -webkit-box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 -15px 15px -15px rgba(0, 0, 0, 0.5);
        background-clip: padding-box;
        outline: 0;

        img {
          margin-top: 25px;
        }

        a {
          margin-top: 15px;
          font-size: 12px;
          color: #04a9cc;
          background: none;
          border: none;
          display: inline-block;
          margin-bottom: 0;
          font-weight: normal;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          white-space: nowrap;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
